.card {
  margin: 10px;
}

.card-body-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.5rem;
}

.boton-español,
.boton-ingles,
.boton-sanscrito {
  margin: 5px;
}