@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

.contenedor-principal {
  width: 100vw;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.contenedor-principal.visible {
  opacity: 1;

}

.contenido-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}

.contenedor-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.contenedor-titulo h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: calc(2rem + 1vw);
  text-align: center;
  margin: 20px;
}

.input-gruop {
  max-width: 700px;
  min-width: 300px;
}

.contenedor-tarjetas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.contenedor-tarjetas.visible {
  max-height: 1000px;
  opacity: 1;
}

.contenedor-sin-resultados {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.contenedor-sin-resultados.visible {
  opacity: 1;
}

.contenedor-sin-resultados h3 {
  font-size: calc(0.05rem + 1vw);
  text-align: center;
  margin: 20px;
}